.body {
    margin: 0px;
}

table {
    border-spacing: 0;
    width: 100%;
    table-layout: fixed;
}

header {
    background-color: #f1f1f1;
}

thead {
    background-color: #f1f1f1
}

thead td {
    border-bottom: 2px solid #eaeaea;
}

tbody tr td {
    padding: 0px;
    border: 1px solid #fafafa;
    height: 40px;
}

.has-event {
    /*
        cursor: pointer;
        position: relative;
        background-color: #FFB939;

        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        */
}

/*  er shua*/
.second_watch {
    cursor: pointer;
    position: relative;
    background-color: #FF5050;

    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#remind_pic_div {
    height: 90px;
    width: 65px;
    padding-left: 5%;
}

#record_pic_div {
    height: 90px;
    width: 65px;
    padding-left: 5%;
}

#remind_pic {
    height: 90px;
}

#record_pic {
    height: 90px;
}

#remind_text {
    padding: 6px;
}

#record_text {
    padding: 6px;
}

.weui_cell:before {
    border-top: 0px;
    left: 0px;
}

#add_button {
    width: 20%;
    padding-left: 85%;
    padding-top: 3%;
}

#add_button .add-button-img {
    height: 30px;
}

#onshow_title {
    height: 3.7%;
    padding: 0px 15px 10px 15px;
}

#em {
    height: 2px;
    background-color: #eaeaea;
}

#left {
    float: left;
    padding-left: 18px;
}

#remind_div {
    float: left;
}

.has-event:after {
    background: #010101;
    border-radius: 50%;
    bottom: 5px;
    display: block;
    content: '';
    height: 6px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 6px;
}

.first-line {
    border-top: 0px;
}

.last-line {
    border-bottom: 0px;
}
/*
.event-calendar tr td :hover {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 auto;
    background-color: darkgray;
    color: white;
}
*/
.pick{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 auto;
    background-color: darkgray !important;
    color: white;
}
.current-day {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
    color: white;
}

.calendar {
    text-align: center;
}

.calendar h2 {
    text-transform: uppercase;
    border-top: 8px solid #f1f1f1;
    color: #010101;
}

.calendar thead {
    font-weight: 600;
    text-transform: uppercase;
}

.btn-prev,
.btn-next {
    margin: -16px;
    position: absolute;
    width: 32px;
    top: 4%;
}

.btn-prev {
    left: 35px;
}

.btn-next {
    right: 35px;
}

.not-month-day {
    color: #d0d0d0;
    background-color: #f6f6f6;
}

.box-img {
    height: 100px;
    width: 80px;
}

.event .event-header {
    width: 100%;
    height: 56px;
    background-color: #f1f1f1;
    border-bottom: 2px solid #eaeaea;
    padding-top: 5px;
}

.event .event-header .dayInfo {
    color: dimgray;
}

.event .event-header .activeInfo {
    font-size: 14px;
    color: darkgray;
}

.event-hidden {
    display: none;
}

.weui_panel {
    margin-top: 0px;
}

.has-event:hover:after {
    background: #010101;
    border-radius: 50%;
    bottom: 5px;
    display: block;
    content: '';
    height: 6px;
    left: 50%;
    margin: -4px 0 0 -4px;
    position: absolute;
    width: 6px;
}

#shape {
    width: 15px;
    height: 15px;
    border-radius: 0 0 50px 0;
    background-color: red;
}

#remind_btn {
    background-color: #C0F4BE;
    width: 100%;
}

#record_btn {
    background-color: #B5EBEC;
    width: 100%;
}

#remind_div {
    width: 100%;
}

#record_div {
    width: 100%;
}

.movie_title_e {
    font-family: Times New Roman, Times, serif;
    font-size: 10px;
    color: gray;
}

.dw_title {
    float: left;
    font-size: 15px
}

.dw_name {
    float: left;
    font-size: 15px;
    color: #0052BA;
}

.weui_media_box {
    padding: 15px 0px 15px 0px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 auto;
}

.half_circle {
    width: 10px;
    height: 10px;
    background-color: #FFB939;
    border-radius: 0 0 50px 0;
    float:left;
    margin-top:-5px;
}

.mark {
    width: 60px;
    height: 60px;
    background-color: #FFB939;
    border-radius: 0 0 0 50px;
    float: right;
}

.weui_cell {
    float: left;
}
.weui_media_box .weui_media_desc{
padding-left:10px;}
.weui_media_box .weui_media_title{
padding-left:10px;}
