#select {
    margin-top: 0px;
    overflow-y: scroll;
    height: 144px;
    border-bottom: #d9d9d9 1px solid;
    display: none;
}

.list_cell {
}

.content {
    font-size: large;
}

.touch {
    background-color: #1ebc21;
    color: white
}
