/*#select {*/
    /*margin-top: 0px;*/
    /*overflow-y: scroll;*/
    /*height: 144px;*/
    /*border-bottom: #d9d9d9 1px solid;*/
    /*display: none;*/
/*}*/

/*.list_cell {*/
/*}*/

/*.content {*/
    /*font-size: large;*/
/*}*/

/*.touch {*/
    /*background-color: #1ebc21;*/
    /*color: white*/
/*}*/

* {
    padding: 0;
    margin: 0 auto;
}

body {
    background: #e4e4e4;
}

.title {
    height: 60px;
    background: #151a26;
    text-align: center;
}

.title>p {
    color: #fff;
    font-size: 20px;
    display: block;
    line-height: 60px;
}

.detail {
    height: 180px;
    background: #fff;
    margin-bottom: 10px;
}

.record {
    height: 240px;
    background: #fff;
    margin-bottom: 10px;
}

.record>.weui_icon_success {
    display: block;
    font-size: 20px;
    line-height: 35px;
    font-style: normal;
    margin: 0px 10px;
}

.weui_icon_success>span {
    padding-left: 15px;
}

.rectext {
    margin-top: 5px;
    padding: 0px 10px;
}

.rectext>textarea {
    background: rgba(228,228,228, 0.6);
    height: 160px;
    /*width: 355px;*/
    border-radius: 5px;
    font-size: 18px;
    padding-top: 3px;
    /*margin: 10px 10px;*/
}

.time_where {
    /*background: #5bc0de;*/
    height: 40px;
}
.time_where>button {
    display: block;
    line-height: 37px;
    float: left;
    border: none;
    background: #fff;
    color: #999999;
}

#where {
    width: 187px;
}

#time {
    width: 188px;
}


.date {
    height: 80px;
    /*background: #f2dede;*/
    background: #fff;
    margin-bottom: 10px;
}

.foot {
    height: 60px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 15px;
    background: #fff;
}