header {
    position: relative;
    height: 35%;
}

#mark {
    height: 8%;
    padding-left: 20px;
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #7D7D7D;
    letter-spacing: -0.49px;
}

#main {
    height: 57%;

}

#bg {
    width: 100%
}

#user-name {
    text-align: right;
    left: 20px;
    bottom: 5px;
    font-weight: 700;
    text-shadow: 0 1px .5px #000;
    font-family: PingFangSC-Medium;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: -0.87px;
}

#avt, #user-name {
    position: absolute
}

#avt {

    height: 90px;
    width: 90px;
    right: 15px;
    bottom: -40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid #dbdbdb;
}

#fp {
    height: 89px;
    width: 65px;
}

#fpp {
    height: 89px;
}

.weui_media_box {
    padding: 0px;
}

.weui_media_box:before {
    border-top: 0px;
}

.weui_media_box.weui_media_appmsg .weui_media_bd {
    background-color: #F3F3F3;
}

/*........................*/
#list, #list li, .po-hd, .post {
    overflow: hidden
}

.po-cmt, .post .list-img:nth-child(1), .time {
    float: left
}

#list li, .cmt-wrap, .r, .time {
    clear: both
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

html {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    font-size: 13px
}

.hide {
    display: none
}

#share a, .btn {
    font-size: 14px
}

.btn, b {
    font-weight: 400
}

#share a, #share p, .btn {
    text-align: center
}

#list li, .po-hd {
    position: relative
}

#list {

}

#list li {
    line-height: 1.5;
    padding-bottom: 15px
}

#share a:nth-child(2), .ads, .po-avt {
    position: absolute
}

.ads {
    color: #999;
    right: 5px;
    top: 0
}

.ads img {
    width: 10px;
    padding-left: 8px
}

.ad-link {
    color: #3b5384
}

.post .ad-link img {
    width: 11px;
    padding: 0;
    display: inline-block
}

.po-avt-wrap {
    padding-left: 10px;
    border: 0px solid #dbdbdb;
}

.po-avt {
    height: 40px;
    width: 40px;
    left: 10px;
    border-radius: 50px;
    border: 1px solid #dbdbdb;
}

.r {
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 1px;
    margin-top: 5px;
    margin-left: 10px
}

.po-cmt {
    padding-left: 60px;
    padding-right: 10px;
    width: 90%;
    box-sizing: border-box;
    float: left;
}

.watch {
    font-family: PingFangSC-Light;
    font-size: 18px;
    color: #555555;
    letter-spacing: -0.44px;
}

.po-name {
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    color: #000000;
    letter-spacing: -0.49px;
}

.post {
    color: #252525;
    padding-bottom: 10px
}

.post img {
    display: block;
    max-height: 130px;
    max-width: 130px
}

#share a, .btn {
    display: inline-block
}

.post .list-img {
    width: 30%;
    max-height: 80px;
    max-width: 80px;
    padding-right: 5px;
    float: left;
    object-fit: cover
}

.post .list-img:last-child {
    padding-right: 0
}

.time {
    font-family: PingFangSC-Light;
    font-size: 10px;
    color: #555555;
    letter-spacing: -0.25px;
}

.infi-display {
    display: none;
}
