.head-image{
    height: 124px;
    width: 124px;
    margin: auto;
    margin-top: 5px;
    border-radius: 38.5px;
}

.image-input-hidden{
    display: none;
}

button.weui_btn, input.weui_btn{
    width:73.6%;
}

#sureBtn{
    background-color:#00B9BD;
}

#register{
    background-color:#FB710D;
}
.weui_cells:before{
    border-top:0px;
}

.weui_cell:before{
    left:13%;
    width:73.6%;
}

.weui_cells{
    margin:auto;
    text-align:center;
    padding-top:10%;
}

.weui_cells:after{
    left:13%;
    width:73.6%;
}

.weui_cell{
padding:10px 40px;
padding-top:8%;
}

.weui_input{
width:70%;}

html,body{
height:100%;}

.weui-row{
padding-top:4%;}


#empty-one{
height:7%;}

.weui_label{
width:100%;}

.weui_cell_primary{
padding-left:33px;}

#again_pw{
padding-left:1px;}

#user_name{
padding-left:20px;}

#kong{
height:3%;}

#tip{
font-size:15px;
text-align:center;
color:#A9A9A9;
}