<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>createMovieEvent</title>

        <!-- css -->
        <link rel="stylesheet" href="/libs/jquery-weui.min.css">
        <link rel="stylesheet" href="/libs/weui.css">
        <link rel="stylesheet" href="/css/calendar/createMovieEvent.css">

        <!-- js -->
        <script src="/libs/jquery-2.1.4.js"></script>
        <script src="/libs/jquery-weui.min.js"></script>
        <script src="/js/calendar/createMovieEvent.js"></script>
    </head>

    <body>
        <div class="title"><p>记录</p></div>
        <div class="detail">
            <img class=""/>
            <div>
                <ul>
                    <li id="mov_name">有关莉莉周的一切(2001)</li>
                    <li id="eng_name">All About Lily Chou-Chou</li>
                    <li id="director">导演: <a href=";">岩井俊二</a></li>
                    <li id="scenarist">编剧: <a href=";">岩井俊二</a></li>
                </ul>
            </div>
        </div>

        <div class="record">
            <i class="weui_icon_success"><span>观影感想</span></i>
            <div class="rectext">
                <textarea class="weui_textarea"></textarea>
            </div>
            <div class="time_where">
                <input id="where" type="text" value="香港九龙湾" readonly/>
                <input id="time" type="text" placeholder="请选择日期" readonly/>
            </div>
        </div>

        <div class="date">
            <i class="weui_icon_success"><span>再刷提醒</span></i>
            <div>
                <p>日期</p>
                <input id="ftime" type="text" placeholder="请选择日期" readonly／>
            </div>
        </div>

        <div class="foot"><a href="javascript:;" class="weui_btn weui_btn_primary">添加记录</a></div>
    </body>
</html>