html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 0;
    padding: 0 0;
}

ul,li {
    list-style: none;
}


/*头像样式*/
.avatar {
    height: 10%;
    width: 85%;
    padding: 4% 7.5% 1%;
    float: left;
    clear: both;
}

.avatar div {
    float: left;
    height: 50px;
    /*padding-top: 9px;*/
}

.avatar img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.avatar .name {
    font-size: 20px;
    font-weight: bold;
}

.avatar .create_time {
    font-size: 10px;
    font-weight: 400;
    color: #555555;
}

/**区域导航样式**/
.nav {
    width: 85%;
    height: 10%;
    padding: 5% 7.5% 1%;
    float: left;
    clear: both;
}

.nav img {
    width: 21px;
    height: 21px;
    float: left;
    margin-right: 10px;
    padding: 5px 1% 5px 1%;
}

.nav p {
    float: left;
    font-size: 20px;
    font-weight: lighter;
}

/**记录的内容部分**/
.record .avatar {
    margin-bottom: 5%;
}

.record .title {
    width: 50%;
    font-size: 20px;
    font-weight: lighter;
    margin: 3% auto;
    text-align: center;
    color: #0052BA;
}

.record .content {
    width: 85%;
    font-size: 16px;
    font-weight: 400;
    margin: 3% auto;
}

.record .tag {
    width: 85%;
    margin: 2% auto;
}

.tag #location,#date {
    width: 100%;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    color: #6B6B6B;
}

/**评论区样式**/
.comment {
    margin-bottom: 2%;
}

.comment .content {
    font-size: 16px;
    width: 70%;
    margin: 0 7.5%;
    padding-left: 60px;
    font-weight: 400;
}

/**输入栏样式**/
.comment_box {
    width: 100%;
    height: 30%;
}

.comment_box textarea {
    width: 81%;
    height: 70%;
    background-color: #f2f2f2;
    margin: 5% 7.5%;
    border: none;
    border-radius: 5px;
    padding: 8px 2%;
    font-size: 16px;
    resize: none;
}

.submit_button {
    width: 80%;
    height: 6%;
    font-size: 21px;
    font-weight: lighter;
    color: #ffffff;
    background-color: #0DBDC1;
    border: none;
    border-radius: 5px;
    margin: 9% 10% 3%;
}

