* {
    padding: 0;
    margin: 0 auto;
}

html {
    height: 100%;
    min-height: 568px;
}

ul,li {
    list-style: none;
}

a {
    color: #0037a8;
}

input{
    border: none;
}

body {
    background: #e4e4e4;
    height: 100%;
    overflow: hidden;
}

div {
    overflow: hidden;
}

.detail {
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 2%;
    height: 25%;
}

.detail>img {
    float: left;
    background: #000;
    /*width: 96px;*/
    /*height: 142px;*/
    width: 30%;
    height: 95%;
    margin-right: 7%;
}

.detail>div {
    float: left;
    background: #fff;
    width: 55%;
}

#mov_name {
    font-size: 17px;
}

#eng_name {
    font-size: 15px;
    color: #999999;
    margin-bottom: 4%;
}

#director {
    font-size: 17px;
}

#scenarist {
    font-size: 17px;
}

.describe {
    /*height: 6%;*/
    width: 100%;
    height: 5%;
    background-color: #fff;
    margin-bottom: 2%;
    font-size: 18px;
    padding: 0 42px;
}

.record {
    height: 40%;
    /*height: 38%;*/
    background: #fff;
    margin-bottom: 2%;
}

.icon_text {
    background-image: url("/image/icons/text.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 22px 20px;
}

/*padding最好使用固定像素，以保持形状*/
.nav {
    padding: 10px 15px;
}

.record>.nav {
    height: 10%;
}

.nav>i {
    font-size: 18px;
    font-style: normal;
    margin-left: 0;
    width: 100px;
    display: block;
    text-align: right;
}

.rectext {
    height: 65%;
    /*height: 150px;*/
    padding: 0px 15px;
}

.rectext>textarea {
    background: rgba(228,228,228, 0.6);
    height: 90%;
    width: 95%;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 10px;
}

.time_where {
    height: 15%
}
.time_where>input {
    display: block;
    height: 100%;
    float: left;
    border: none;
    background: #fff;
    color: #999999;
    font-size: 15px;
    text-align: center;
}

#where, #time {
    width: 50%
}

.date {
    font-size: 20px;
    height: 13%;
    background: #fff;
    margin-bottom: 2%;
}

.icon_clock {
    background-image: url("/image/icons/clock.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 22px 22px;
}

.date>.nav {
    height: 30%;
}

.date>.nav>i {
    float: left;
}


.date>.nav>p {
    float: right;
    width: 50%;
    font-size: 15px;
    color: #999999;
    text-align: center;
}


.date>div {
    height: 40%;
}


.date>div>input {
    font-size: 17px;
    float: left;
    background: #fff;
    width: 50%;
    border: none;
    height: 100%;
    text-align: center;
}

.foot-btn{
    width: 100%;
    height: 7%;
    min-height: 7%;
    border-radius: 0px;
}

.bottom_fix{
    bottom: 0px;
    position: fixed !important;
}