* {
    padding: 0;
    margin: 0 auto;
}

html {
    height: 100%;
}

ul,li {
    list-style: none;
}

a {
    color: #0037a8;
}

body {
    background: #e4e4e4;
    height: 100%;
}

.title {
    padding-top: 2%;
    height: 6%;
    background: #151a26;
    text-align: center;
}

.title>p {
    color: #fff;
    font-size: 20px;
    display: block;
}

.detail {
    height: 24%;
    background: #fff;
    margin-bottom: 10px;
    padding: 10px 10px;
}

.detail>img {
    float: left;
    background: #000;
    width: 33%;
    margin-right: 7%;
    height: 100%;
}

.detail>div {
    float: left;
    background: #fff;
    height: 100%;
    width: 60%;
    overflow-y: scroll;
}

#mov_name {
    font-size: 19px;
}

#eng_name {
    font-size: 15px;
    color: #999999;
    margin-bottom: 10px;
}

#director {
    font-size: 19px;
}

#scenarist {
    font-size: 19px;
}

.record {
    height: 280px;
    background: #fff;
    margin-bottom: 10px;
}

.record>.weui_icon_success {
    display: block;
    font-size: 20px;
    line-height: 35px;
    font-style: normal;
    margin: 0px 10px;
}

.weui_icon_success>span {
    padding-left: 15px;
}

.rectext {
    margin-top: 5px;
    padding: 0px 10px;
}

.rectext>textarea {
    background: rgba(228,228,228, 0.6);
    height: 195px;
    width: 95%;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 10px;
}

.time_where {
    /*background: #5bc0de;*/
    height: 40px;
}
.time_where>input {
    display: block;
    line-height: 37px;
    float: left;
    border: none;
    background: #fff;
    color: #999999;
    font-size: 15px;
    text-align: center;
}

#where, #time {
    width: 50%
}

.date {
    font-size: 20px;
    height: 90px;
    /*background: #f2dede;*/
    background: #fff;
    margin-bottom: 10px;
}

.date>.weui_icon_success {
    display: block;
    line-height: 35px;
    font-style: normal;
    margin: 0px 10px;
}

.date>div {
    height: 55px;
}

.date>div>p {
    float: left;
    /*background: #f7ecb5;*/
    width: 50%;
    line-height: 55px;
    text-align: center;
}

.date>div>input {
    font-size: 20px;
    float: left;
    background: #fff;
    width: 50%;
    border: none;
    height: 100%;
    text-align: center;
}

.foot {
    height: 45px;
    padding: 6px 10px 5px;
    background: #fff;
}

.foot-btn{
    position: fixed !important;
    bottom: 0px;
    width: 100%;
}