#select {
    margin-top: 0px;
    overflow-y: scroll;
    height: 24%;
    border-bottom: #d9d9d9 5px solid;
    display: none;
}

.list_cell {
}

.content {
    font-size: large;
}

.touch {
    background-color: #1ebc21;
    color: white;
}

.movie-enname{
    font-family:Times New Roman Times serif;
    font-size:10px;
    color:gray;
}

.table-title{
    float:left;
    font-size:15px
}

.table-value{
    float:left;
    font-size:15px;
    color:#3366FF;
}
.weui_panel:before{
    border-top:0px;
}

.weui_panel_hd:after{
  border-bottom:0px;}

html,body{height:100%;}

#title_bar{
background-color:#192331;
height:9.6%;
text-align:center;

}
#head_title{
padding:25px 5px 17px;
size:16px;
color:white;}

#search_bar{
height:6.6%;}

#main_onshow{
height:83.8%;}

#onshow_title{
height:3.7%;}

#test1{
height:86.7%;}

#first{
height:18.5%;}

#second{
height:18.5%;}

#third{
height:18.5%;}

.weui_panel_hd{
padding:1px 15px 10px;}

#search_title{
padding:5px 15px 5px;}

#query{
height:6.7%;}

#fp{
height:90px;
width:65px;}

.uni{
height:p0px;
width:65px;}

#sp{
height:90px;
width:65px;}

#tp{
height:90px;
width:65px;}

#fpp{
height:90px;}
#spp{
height:90px;}
#tpp{
height:90px;}













