/*
#select {
    margin-top: 0px;
    overflow-y: scroll;
    height: 100%;
    width:100%;
    margin-top: 12%;
    display: none;
}

.list_cell {
}

.content {
    font-size: large;
}

.touch {
    background-color: #1ebc21;
    color: white;
}

.movie-enname{
    font-family:Times New Roman Times serif;
    font-size:10px;
    color:gray;
}

.table-title{
    float:left;
    font-size:15px
}

.table-value{
    float:left;
    font-size:15px;
    color:#0052BA;
}
.weui_panel:before{
    border-top:0px;
}

.weui_panel_hd:after{
    border-bottom:0px;
}

.weui_media_box:before{
    border-top: 0px;
}

.weui_media_box {
    padding: 7px 18px 7px 18px;
    position: relative;
}


html,body{
    height:100%;
}

#title_bar{
    background-color:#192331;
    height:9.6%;
    text-align:center;
}
#head_title{
    padding:25px 5px 17px;
    size:16px;
    color:white;
}

#search_bar{
    height:6.6%;
    position: fixed !important;
    top: 0px;
    width: 100%;
    z-index: 10;
}

#main_onshow{
    height:83.8%;
}

#onshow_title{
    height:3.7%;
    padding:0px 15px 10px 15px;
}

#test1{
    height:86.7%;
}

.order{
    height:24.5%;
}

#second:before{
    border-top: 5px solid #E5E5E5;
    color: #E5E5E5;
}

#third:before{
    border-top: 5px solid #E5E5E5;
    color: #E5E5E5;
}

#four:before{
    border-top: 5px solid #E5E5E5;
    color: #E5E5E5;
}

.weui_panel_hd{
    padding:1px 15px 10px;
}

#search_title{
    padding:5px 15px 5px;
}

.order_pic{
    height:90px;
    width:65px;
}



#sp{
    height:90px;
    width:65px;
}

#tp{
    height:90px;
    width:65px;
}

#fp{
    height:90px;
    width:65px;
}
#fpp{
    height:90px;
}
#spp{
    height:90px;
}
#tpp{
    height:90px;
}

.title {
    height: 7%;
    background: #151a26;
}

.title>p {
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

#aa {
width:100%;
padding:0px;
}

.infi-display{
    display: none;
}

*/







header {
    position: relative;
    height:35%;
}
#mark{
    height:8%;

    }
#main{
    height:57%;

    }


#bg {
    width: 100%
}
#user-name {
    text-align: right;
    left:20px;
    bottom: 15px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0 1px .5px #000
}


#avt,#user-name {
    position: absolute
}
#avt {


    height: 90px;
    width: 90px;
    right: 15px;
    bottom: -40px;
    margin: auto;
    margin-top: 5px;
    border-radius: 50px;
    border: 1px solid #dbdbdb;
}
#fp{
    height:89px;
    width:65px;
}
#fpp{
    height:89px;
}
.weui_media_box{
padding:0px;}

.weui_media_box:before{
    border-top:0px;}
.weui_media_box.weui_media_appmsg .weui_media_bd{
background-color:#F3F3F3;}
/*........................*/
#list,#list li,.po-hd,.post {
    overflow: hidden
}

.po-cmt,.post .list-img:nth-child(1),.time {
    float: left
}

#list li,.cmt-wrap,.r,.time {
    clear: both
}

.btn,a {
    cursor: pointer
}

blockquote,body,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,pre,td,textarea,th,ul {
    margin: 0;
    padding: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: 400
}

ol,ul {
    list-style: none none
}

caption,th {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

q::after,q::before {
    content: ""
}

abbr,acronym {
    border: 0;
    font-variant: normal
}

sup {
    vertical-align: text-top
}

sub {
    vertical-align: text-bottom
}

input,select,textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit
}

legend {
    color: #000
}

a {
    text-decoration: none
}

input {
    -webkit-appearance: none
}

* {
    -webkit-tap-highlight-color: transparent
}

html {
    background-color: #f8f8f8;
    font-family: Arial,sans-serif;
    font-size: 13px
}



.hide {
    display: none
}








#share a,.btn {
    font-size: 14px
}

.btn,b {
    font-weight: 400
}

#share a,#share p,.btn {
    text-align: center
}



#list li,.po-hd {
    position: relative
}

#list {
    padding: 30px 0 10px
}

#list li {
    line-height: 1.5;
    /*border-bottom: 1px solid #e2e2e2;*/

    padding-bottom: 15px
}

#share a:nth-child(2),.ads,.po-avt {
    position: absolute
}

.ads {
    color: #999;
    right: 5px;
    top: 0
}

.ads img {
    width: 10px;
    padding-left: 8px
}

.ad-link {
    color: #3b5384
}

.post .ad-link img {
    width: 11px;
    padding: 0;
    display: inline-block
}

.po-avt-wrap {
    padding-left: 10px
    border: 0px solid #dbdbdb;
}

.po-avt {
/*
    width: 40px;
    height: 40px;
    top: 0;
    left: 10px;
    border-radius:50px;
    */
     height: 40px;
    width: 40px;
    left: 10px;
    border-radius: 50px;
    border: 1px solid #dbdbdb;
}

.r {
    border-bottom: 8px solid #eee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 1px;
    margin-top: 5px;
    margin-left: 10px
}

.po-cmt {
    padding-left: 60px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box
}

.po-name {
    color: #576b95
}

.post {
    color: #252525;
    padding-bottom: 10px
}

.post img {

    display: block;
    max-height: 130px;
    max-width: 130px
}

#share a,.btn {
    display: inline-block
}

.post .list-img {
    width: 30%;
    max-height: 80px;
    max-width: 80px;
    padding-right: 5px;
    float: left;
    object-fit: cover
}

.post .list-img:last-child {
    padding-right: 0
}
.time {
    color: #b1b1b1
}
/*
.time {
    color: #b1b1b1
}

.c-icon {
    width: 20px;
    float: right
}

.cmt-wrap {
    width: 100%;
    background-color: #eee
}

.like {
    color: #576b95;
    padding: 5px 5px 3px 12px
}

.like img {
    width: 12px;
    padding-right: 5px
}

.cmt-list {
    padding: 5px 12px;
    color: #454545
}

.cmt-list p {
    padding-top: 3px
}

.cmt-list span {
    color: #3b5384
}

#share a {
    border-radius: 5px;
    background-color: #26337e;
    color: #fff;
    line-height: 2.5;
    width: 138px;
    margin: 0 10px
}

#share a:nth-child(1) {
    position: absolute;
    left: 50%;
    margin-left: -148px
}

#share a:nth-child(2) {
    right: 50%;
    margin-right: -148px
}

#share p {
    padding: 45px 0 10px;
    color: #999
}

#guide {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-image: url(../images/guide2.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #191919;
    background-size: contain;
    opacity: .9
}

.btn {
    margin-bottom: 0;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c
}

.btn-group-lg>.btn,.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px
}

.btn-block {
    display: block;
    width: 100%
}

.bq {
    width: 13px;
    padding-left: 2px
}

.hidenone {
    display: none
}

*/








