<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>朋友圈</title>

    <!-- css -->
    <link rel="stylesheet" href="/libs/jquery-weui.min.css">
    <link rel="stylesheet" href="/libs/weui.css">
    <link rel="stylesheet" href="/css/user/friends.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>
<body>

<header>
    <img id="bg" src="/image/bg/moments.png">
    <p id="user-name" class="data-name">{{ user_name }}</p>
    <div>
        <img id="avt" class="data-avt" src={{ user_img }}>
    </div>
</header>
<div id="mark">
    迄今为止看过<span>{{ count }}</span>部电影
</div>
<div id="main">
    {% if list_num > 0 %}
        <div id="list">
            <ul>
                {% for each in list %}
                    <li>
                        <!--头像-->
                        <div class="po-avt-wrap">
                            <img class="po-avt" src={{ each.user_info.headImgUrl }}>
                        </div>
                        {% if each.state == 0 %}
                            <div style="float:left;background-color:#FFB939;width:3px;height:171px">
                                <div style="background-color:#f8f8f8;height:40px;width:4px"></div>
                            </div>
                        {% else %}
                            <div style="float:left;background-color:red;width:3px;height:171px">#}
                                <div style="background-color:#f8f8f8;height:40px;width:4px"></div>
                            </div>
                        {% endif %}
                        <div class="po-cmt">
                            <div class="po-hd">
                                <!--名字-->
                                <p class="po-name">{{ each.user_info.nickName }}</p>
                                <div class="post">
                                    <!--内容-->
                                    <p class="time">
                                        <span>{{ each.date }}</span>
                                    </p>
                                    <br>
                                    <p class="watch">
                                        {% if each.state == 0 %}
                                            观看了
                                        {% else %}
                                            想要观看
                                        {% endif %}
                                    </p>
                                    <a id="first" href="javascript:void(0);"
                                       class="weui_media_box weui_media_appmsg order">
                                        <div id="fp" class=" weui_media_hd order_pic">
                                            <img id="fpp" class="weui_media_appmsg_thumb" src={{ each.movie_info.img }}
                                                    alt="">
                                        </div>
                                        <div class="weui_media_bd">
                                            <h4 class="weui_media_title">{{ each.movie_info.cnname }}</h4>
                                            <p style="font-family:Times New Roman,Times,serif;font-size:10px;color:gray;">{{ each.movie_info.enname }}</p>
                                            <div style="display:inline">
                                                <div style="float:left;font-size:15px">导演:</div>
                                                <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp{{ each.director }}
                                                </div>
                                            </div>
                                            <br>
                                            <div style="display:inline">
                                                <div style="float:left;font-size:15px">编剧:</div>
                                                <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp{{ each.writer }}
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="empty-list">
            <img style="margin-top: 20px" src="/image/photo/popcorn.png"/>
        </div>
    {% endif %}
</div>

<!-- js -->
<script src="/libs/jquery-2.1.4.js"></script>
<script src="/libs/jquery-weui.min.js"></script>
<script src="/libs/underscore-min.js"></script>

</body>
</html>