<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <title>电影信息</title>

        <!-- css -->
        <link rel="stylesheet" href="/libs/jquery-weui.min.css">
        <link rel="stylesheet" href="/libs/weui.css">
        <link rel="stylesheet" href="/css/movie/postMovie.css">
    </head>

    <body>


        <!-- js -->
        <script src="/libs/jquery-2.1.4.js"></script>
        <script src="/libs/jquery-weui.min.js"></script>
        <script src="http://api.map.baidu.com/api?v=2.0&ak=l28tQqC0MN6pK7RWf4kjt0gnzUhXUNmp" type="text/javascript"></script>
        <script src="/js/movie/postMovie.js"></script>
    </body>
</html>