<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <title>录入电影</title>

    <link rel="stylesheet" href="/libs/jquery-weui.min.css">
    <link rel="stylesheet" href="/libs/weui.min.css">
    <link rel="stylesheet" href="/css/calendar/calendar.css">
</head>
<body>

    <table class="table table-hover" style="text-align:left; margin-top: 50px">
        <thead>
          <tr>
             <th>中文名字</th>
             <th>英文名字</th>
             <th>上映时间</th>
             <th>海报url</th>
          </tr>
        </thead>
        <tbody>
            {% for each in list %}
            <tr>
                <td> {{ each.cnname }} </td>
                <td>
                    {% if each.enname != '' %}
                        {{ each.enname }}
                    {% endif %}
                </td>
                <td> {{ each.date }} </td>
                <td> {{ each.img }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="/libs/jquery-2.1.4.js"></script>
    <script src="/libs/jquery-weui.min.js"></script>
</body>
</html>