<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>观影记录</title>

    <!-- css -->
    <link rel="stylesheet" href="/libs/jquery-weui.min.css">
    <link rel="stylesheet" href="/libs/weui.css">
    <link rel="stylesheet" href="/css/movie/message.css">
</head>
<body>
<div class="record">
    <div class="avatar">
        <img src={{ event.user.headImgUrl }}>
        <div>
            <p class="name">{{ event.user.nickName }}</p>
            <p class="create_time">{{ event.createDate }}</p>
        </div>
    </div>

    <h3 class="title">{{ event.movie.cnname }}</h3>
    <p class="content">{{ event.impression }}</p>

    <div class="tag">
        <p id="location">发表于{{ event.address }}</p>
        <p id="date">{{ event.date }}</p>
    </div>
</div>

<div class="comments">
    <div class="nav">
        <img src="/image/icons/comment_icon.png">
        <p>评论区</p>
    </div>

    <ul>
        {% for each in message %}
            <li class="comment">
                <div class="avatar">
                    <img src={{ each.user.headImgUrl }}>
                    <div>
                        <p class="name">{{ each.user.nickName }}</p>
                        <p class="create_time">{{ each.date }}</p>
                    </div>
                </div>
                <p class="content">{{ each.message }}</p>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="comment_box">
    <div class="nav">
        <img src="/image/icons/comment_icon.png">
        <p>发表评论</p>
    </div>
    <textarea class="box" id="input-text" prefix="请输入评论"></textarea>
</div>
<button class="submit_button" id="sure-btn" data-id={{ event._id }}>发表评论</button>
</body>
<script src="/libs/jquery-2.1.4.js"></script>
<script src="/libs/jquery-weui.min.js"></script>
<script src="/js/movie/message.js"></script>
</html>