<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>评论</title>

    <!-- css -->
    <link rel="stylesheet" href="/libs/jquery-weui.min.css">
    <link rel="stylesheet" href="/libs/weui.css">
    <link rel="stylesheet" href="/css/movie/message.css">
</head>
<body>

     <div class="record">
            <div class="nav"><i class="icon_text">观影记录</i></div>
            <div class="rectext">
                <textarea class="weui_textarea" id="impression"></textarea>
            </div>
        </div>


    <!--<div class="cmt-wrap">-->
        <!--<div class="cmt-list">-->
            <!--&lt;!&ndash;头像&ndash;&gt;-->
            <!--<div class="po-avt-wrap">-->
                <!--<img class="po-avt" src='image/head-image/head.png'>-->
            <!--</div>-->
            <!--&lt;!&ndash;评论&ndash;&gt;-->
            <!--<div class="cmt-right">-->
                <!--<p><span class="comment-p">friend1</span>你真帅你真帅你真帅你真帅你真帅你真帅你真帅你真帅你真帅你真帅你真帅你真帅</p>-->
            <!--</div>-->
        <!--</div>-->


         <!--<div class="cmt-list">-->
            <!--<div class="po-avt-wrap">-->
                <!--<img class="po-avt" src='image/head-image/head.png'>-->
            <!--</div>-->
            <!--<p><span class="comment-p">friend1：</span>你真帅</p>-->
        <!--</div>-->
    <!--</div>-->
 <ul class="search-out" data-id="2">
                    <li>
                        <!--头像-->
                        <div class="po-avt-wrap">
                            <img class="po-avt" src='image/head-image/head.png'>
                        </div>
                        <div class="po-cmt">
                            <div class="po-hd">
                                <p class="po-name">SunYang</p>
                                <div class="post">
                                    <p class="watch">
                                        你很帅哦
                                    </p>
                                    <p class="time"><span>11个月前</span></p>

                                </div>
                            </div>
                        </div>
                    </li>

                    
            </ul>
</body>
</html>