<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>电影搜索</title>

    <!-- css -->
    <link rel="stylesheet" href="/libs/jquery-weui.min.css">
    <link rel="stylesheet" href="/libs/weui.css">
    <link rel="stylesheet" href="/css/movie/searchMovie.css" >

</head>
<body>
  <!-- js -->
    <script src="/libs/jquery-2.1.4.js"></script>
    <script src="/libs/jquery-weui.min.js"></script>
    <script src="/libs/underscore-min.js"></script>
    <script src="/js/movie/searchMovie.js"></script>


  <!--<div id="head">-->

  <!--</div>-->
  <!--<div id="main">-->

  <!--</div>-->
<!--<div style="margin:0 auto;display:none;">-->
    <!--<img class="data-avt" src="image/0.jpg">-->
<!--</div>-->
<header>
    <img id="bg" src="image/bg.jpg">
    <p id="user-name" class="data-name">Name</p>
    <div >
        <img id="avt" class="data-avt"  src="image/0.jpg">
    </div>
</header>
<div id="mark">

</div>
  <div id="main">
      <ul>
            <li>
                <div class="po-avt-wrap">
                    <img class="po-avt" src="images/a3.jpg">
                </div>
                <div class="po-cmt">
                    <div class="po-hd">
                        <p class="po-name">
                            name
                        </p>
                        <div class="post">
                            <p>
                                aaaa
                            </p>
                            <p>
                                <img class="list-img" src="images/c3.jpg" style="height: 80px;">
                                <img class="list-img" src="images/c4.jpg" style="height: 80px;">
                                <img class="data-avt list-img" src="images/0.jpg" style="height: 80px;">
                            </p>
                        </div>
                        <p class="time">
                           aaa
                        </p>
                        <img class="c-icon" src="images/c.png">
                    </div>
                    <div class="r">
                    </div>
                    <div class="cmt-wrap">
                        <div class="like">
                            <img src="images/l.png">
                            <b class="data-name">aaa</b>
                        </div>
                        <div class="cmt-list">
                            <p>
                                <span class="data-name">aa</span>
                                        <span>
                                            ：
                                        </span>
                                aa
                            </p>
                            <p>
                                        <span>
                                            aa
                                        </span>
                                aa
                                <span class="data-name">aa</span>
                                        <span>
                                           a
                                        </span>
                                aaaa
                            </p>
                        </div>
                    </div>
                </div>
            </li>
          </ul>

  </div>




    <!--搜索框-->
    <!--<div id="search_bar">-->
        <!--<div class="weui_search_bar">-->
            <!--<form class="weui_search_outer">-->
                <!--<div class="weui_search_inner">-->
                  <!--<i class="weui_icon_search"></i>-->
                  <!--<input  id ="mov_input" type="search" class="weui_search_input" placeholder="搜索" required/>-->
                  <!--<a href="javascript:" class="weui_icon_clear" id="search_clear"></a>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; 搜索结果电影列表 &ndash;&gt;-->
    <!--<div id="select">-->
         <!--<div class="weui_cell" id="search_title">-->
            <!--<div class="weui_cell_hd">-->
                <!--<img src="image/icons/search_icon.png" alt="icon" style="width:20px;margin-right:5px;display:block">-->
            <!--</div>-->
            <!--<div class="weui_cell_bd weui_cell_primary">-->
                <!--<p style="font-size:18px;">搜索结果</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="search-out weui-panel-bd" data-id="1" data-value="/"></div>-->
        <!--<div class="weui-infinite-scroll" id="infinite">-->
          <!--<div class="infinite-preloader"></div>&lt;!&ndash; 菊花 &ndash;&gt;-->
            <!--正在加载... &lt;!&ndash; 文案，可以自行修改 &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->


{#    <!--正在上映电影列表-->#}
{#    <div id ="main_onshow" class="weui_panel weui_panel_access">#}
{#        <div class="weui_cell" href="javascript:;" id="onshow_title">#}
{#            <div class="weui_cell_hd">#}
{#                <img src="image/icons/onshow_icon.png" alt="icon" style="width:20px;margin-right:5px;display:block">#}
{#            </div>#}
{#            <div class="weui_cell_bd weui_cell_primary">#}
{#                <p style="font-size:18px;">正在上映</p>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div  id ="test1" class="weui_panel_bd">#}
{##}
{#          <a id="first"  href="javascript:void(0);" class="weui_media_box weui_media_appmsg order">#}
{#              <div  id="fp" class=" weui_media_hd order_pic">#}
{#                  <img id="fpp" class="weui_media_appmsg_thumb" src="/image/icons/Bitmap.png" alt="">#}
{#              </div>#}
{#              <div class="weui_media_bd">#}
{#                  <h4 class="weui_media_title">关于莉莉周的一切(2010)</h4>#}
{#                  <p style="font-family:Times New Roman,Times,serif;font-size:10px;color:gray;">All About Lily Chou-Chou</p>#}
{#                  <div style="display:inline">#}
{#                      <div  style="float:left;font-size:15px">导演:</div>#}
{#                      <div  style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#                  <br>#}
{#                  <div style="display:inline">#}
{#                      <div style="float:left;font-size:15px">编剧:</div>#}
{#                      <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#              </div>#}
{#          </a>#}
{##}
{#         <a id="second"  href="javascript:void(0);" class="weui_media_box weui_media_appmsg order">#}
{#              <div id="sp" class="weui_media_hd order_pic">#}
{#                  <img  id="spp" class="weui_media_appmsg_thumb" src="/image/icons/Bitmap.png" alt="">#}
{#              </div>#}
{#              <div class="weui_media_bd">#}
{#                  <h4 class="weui_media_title">关于莉莉周的一切(2010)</h4>#}
{#                  <p style="font-family:Times New Roman,Times,serif;font-size:10px;color:gray;">All About Lily Chou-Chou</p>#}
{#                  <div style="display:inline">#}
{#                      <div  style="float:left;font-size:15px">导演:</div>#}
{#                      <div  style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#                  <br>#}
{#                  <div style="display:inline">#}
{#                      <div style="float:left;font-size:15px">编剧:</div>#}
{#                      <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#              </div>#}
{#          </a>#}
{##}
{#          <a id="third"  href="javascript:void(0);" class="weui_media_box weui_media_appmsg order">#}
{#              <div id="tp" class="weui_media_hd order_pic">#}
{#                  <img id="tpp" class="weui_media_appmsg_thumb" src="/image/icons/Bitmap.png" alt="">#}
{#              </div>#}
{#              <div class="weui_media_bd">#}
{#                  <h4 class="weui_media_title">关于莉莉周的一切(2010)</h4>#}
{#                  <p style="font-family:Times New Roman,Times,serif;font-size:10px;color:gray;">All About Lily Chou-Chou</p>#}
{#                  <div style="display:inline">#}
{#                      <div  style="float:left;font-size:15px">导演:</div>#}
{#                      <div  style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#                  <br>#}
{#                  <div style="display:inline">#}
{#                      <div style="float:left;font-size:15px">编剧:</div>#}
{#                      <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#              </div>#}
{#          </a>#}
{##}
{#            <a id="four" href="javascript:void(0);" class="weui_media_box weui_media_appmsg">#}
{#              <div id="fourp" class="weui_media_hd">#}
{#                  <img id="fourpp" class="weui_media_appmsg_thumb" src="/image/icons/Bitmap.png" alt="">#}
{#              </div>#}
{#              <div class="weui_media_bd">#}
{#                  <h4 class="weui_media_title">关于莉莉周的一切(2010)</h4>#}
{#                  <p style="font-family:Times New Roman,Times,serif;font-size:10px;color:gray;">All About Lily Chou-Chou</p>#}
{#                  <div style="display:inline">#}
{#                      <div  style="float:left;font-size:15px">导演:</div>#}
{#                      <div  style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#                  <br>#}
{#                  <div style="display:inline">#}
{#                      <div style="float:left;font-size:15px">编剧:</div>#}
{#                      <div style="float:left;font-size:15px;color:#0052BA;">&nbsp&nbsp岩井俊二</div>#}
{#                  </div>#}
{#              </div>#}
{#          </a>#}
{#        </div>#}
{#    </div>#}

</body>
</html>
